@charset 'UTF-8';


/** CLEAR FIX **/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}


/** GENERAL TAGS **/

* {    
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
html {
    overflow-y: scroll; 
    overflow-x: hidden;
}   
body {
    background:#FFF;
}


body, input, textarea {
    font-family: 'Helvetica', sans-serif;
    font-weight:normal;
    font-size: 12pt;
    line-height: 1.5;   
    /* background: #DDD; */
}
h1, h2, h3, h4, h5, h6 {
    font-size: 18pt;
    line-height: 1;
    padding: 0.5em;
    margin:0;
    font-weight: bold;
}
h2 {
    font-size: 16pt;
}
h3 {
    font-size: 14pt;
}
h4, h5, h6 {
    font-size: 13pt;
}
nav {
    background:transparent;
}
nav ul {
    display:table;
    table-layout:fixed;
    width: 100%;
    background:transparent;
}
nav ul li {
    display:table-cell;
    vertical-align: middle;
    text-shadow: 0px 0px 8px #FFF;
}
nav ul li a{
    text-align:center;
    display:block;
    white-space:nowrap;
    color: #000;
    font-size: 36pt;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}
a {
    color: firebrick;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
p {
    margin: 0 0 1em;
    padding: 0.5em;
}



/** CSS STICKY FOOTER **/

html, body {    
    min-height: 100%;
    height: 100%;
}
/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}
#wrapper {
    min-height: 100%;
    position: relative; 
}
#wrapper-content {
    overflow: visible;
    padding-bottom: 200px; /* value of footer height */
}
#footer {
    position: relative; 
    height: 200px;
    margin-top: -200px; /* negative value of footer height */
    clear:both;
}


/** GENERAL WRAPPERS **/

#header nav,
#wrapper-content,
#footer-content {
    clear:both;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
#header {
    padding: 1.5em 1em 1em;
    height: 114px;
    background: #DDD;
}
#main {
    width: 700px;
    position: relative;
    float:left;
}
#left {
    width: 300px;
    background:#999;
    color: #FFF;
    float:right;
    margin: 50px 0 0;
    position: relative;
}
#main, #left {
    margin-bottom: 2em;
}
#main .inside, #left .inside {
    padding: 1em;
}
#footer {
    background: #CCC;
}
#footer-content {
    text-align:center;
    padding:2em;
    height:100%;
    background: #DDD;
}


/** GENERAL CLASSES **/

.loader {
    position: absolute;
    top: 0px;
    left: 0px;
    background:rgba(0,0,0,0.1);
    width:100%;
    height:100%;
    z-index: 1;
    display:none;
}
.loader .throbber-container {
  position: relative;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 300px;
  height: 300px;
}
.loader .throbber-container .throbber {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.loader .throbber-container .throbber:after {
  width: 40px;
  height: 40px;
  -webkit-animation: rotate 0.6s linear infinite;
  -moz-animation: rotate 0.6s linear infinite;
  -ms-animation: rotate 0.6s linear infinite;
  -o-animation: rotate 0.6s linear infinite;
  animation: rotate 0.6s linear infinite;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #000;
  border-right: 1px solid #CCC;
  content: '';
  opacity: 1;
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
  }
}
@-o-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
  }
}


/** MODULES **/
.fancybox-gallery {
    background: yellow;
    width:100%;
}
.fancybox-gallery li {
    padding:1em;
}